@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    min-width: 375px;
    min-height: 100vh;
}
.card{
    width: 100%;
    height: 100vh;
}
.card-header span{
    color: #0cdb56;
}
.card .Date{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.card .Date #Time{
    background-color:#b3ffcd ;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 0.3rem;
    border-radius: 10px;
    height: 55px;
    width: 100%;
    padding: 0.5rem;
}
.card .Date #Time h2{
    font-size: 1rem;
  
}
#Design{
    margin-top: 1rem;
}
#Design .Design-header{
    font-weight: bold;
    color:#0cdb56 ;
}
#Design #design-task{
    display: flex;
    flex-flow: row wrap;
    column-gap: 3px;
    height: 3rem;
    padding-left: 2rem;
    padding-top: 10px;
    margin:0 1rem ;
    border-radius: 5px;
    background-color:rgb(225, 235, 230);
}
#Design #design-task #Design-Checkbox{
cursor: pointer;
height: 1rem;
width: 1rem;

}
#Design #design-task #Design-Checkbox:checked{
 background-color: #0cdb56;
 color: #0cdb56;
}

.list-add form{
    position: absolute;
    bottom: 0;
}
.list-add form .submit{
    height: 2.5rem;
    width: 4rem;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    background-color: black;


}
.list-add form #Add-list{
font-size: 1.1rem;
height: 2.5rem;
width: 18rem;
/* margin-left: 1rem; */
border-radius: 5px;
padding-left: 1rem;
}
.list-add form #Add-list::placeholder{
    font-size: 1.1rem;

}

.list{
    display: flex;
    flex-flow: row wrap;
    column-gap: 3px;
    height: 3rem;
    padding-left: 2rem;
    padding-top: 10px;
    margin:0 1rem ;
    border-radius: 5px;
    background-color:rgb(200, 220, 210);
}

